
<h1>Registration Numbers</h1>
<div class="centerDiv">
  <form action="/" method="POST" class="button-form">
    <div class="centerDiv">
      <p class="red">{{messages.error}}</p>
    </div>
    <div class="centerDiv">
      <label for="enteredRegistrationNumber">Enter Registration number</label>
      <input
        type="text"
        name="registration"
        value=""
        class="enteredRegistrationNumber"
        placeholder="CA 123 456"
      />
    </div>
      <button class="addButton add" type="submit">Add</button>
  </form>
   <form action="/reset" method="POST">
    <button class="addButton clearButton" type="submit">Clear</button>
  </form>
</div>  
<div class="centerDiv">
  <form action="/filter" method="POST">
    <select class="dropDown" name="towns">
      <option value="">Select Town</option>
      <option value="showAll">Show All</option>
      <option value="Cape Town">Cape Town</option>
      <option value="Bellville">Bellville</option>
      <option value="Paarl">Paarl</option>
      <option value="Stellenbosch">Stellenbosch</option>
    </select>
    <button class="addButton" type="submit">Filter</button>
  </form>
</div>
<br>
<div class="centerDiv">
  <p class="green">{{messages.clear}}</p>
  <p class="reds">{{messages.err}}</p>
  <p class="reds bbbb">{{err}}</p>
</div>
<ul class="d-flex flex-wrap">
  {{#each registrations}}
    <li class="plate">{{this.regnumber}}</li>
  {{/each}}
  {{#each filtered}}
    <li class="plate">{{this.regnumber}}</li>
  {{/each}}
</ul>
<script>
  setTimeout(function () { document.querySelector('.red').innerHTML = ''; },
  3000);

   setTimeout(function () { document.querySelector('.green').innerHTML = ''; },
  3000);

  setTimeout(function () { document.querySelector('.reds').innerHTML = ''; },
  3000);

  setTimeout(function () { document.querySelector('.bbbb').innerHTML = ''; },
  3000);
</script> 



